@import "./colors.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 98%;
}

.container-fluid {
  min-height: 100vh;
  background-color: #efefef;

  .sideBar {
    min-height: 100vh;
    color: #ffffff;
    padding: 0;
    position: fixed;
    top: 0;

    .head {
      height: 70px;
      width: 99%;
      margin: 5px auto;
      padding: 0 20px;
      background-color: $darkBackground;
      justify-content: space-between;

      div {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
    }

    .links {
      background-color: $darkBackground;
      padding: 20px 20px;
      min-height: 86vh;
      overflow-y: auto;

      .link {
        color: #ffffff;
        padding: 5px 20px;
        margin: 5px 0;
        text-decoration: none;

        .link-inner {
          padding: 5px 20px;
          margin: 5px 0;
          text-decoration: none;
          color: #efefef;
          min-width: 250px;
        }

        &:hover {
          background-color: rgba($color: #ffffff, $alpha: 0.3);
          cursor: pointer;
        }
      }
    }
  }

  .body {
    min-height: 100vh;
    margin: 0 10px;
    padding: 0;
    margin: 0 25.5%;

    .titleBar {
      height: 70px;
      width: 99%;
      margin: 5px auto;
      padding: 0 20px;
      background-color: #ffff;
    }

    .main-container {
      background-color: #fff;
      width: 99%;
      margin: auto;
      min-height: 85vh;
      padding: 20px 120px;
    }

    .main-container.restaurants {
      padding: 20px 20px;
    }

    .main-container.form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .form-group.empty {
        display: none;
      }
    }
  }
}
